body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  font-family: Arial;
}
.clock-container {
  background: #111;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}
#clock {
  color: #00ffcc;
  font-size: 60px;
  letter-spacing: 3px;
}
