body {
    margin: 0;
    font-family: Arial;
    background: #87CEEB;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #1e90ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0066cc;
}

#output {
    margin-top: 15px;
    font-size: 18px;
}
